ul{
    border: 1px solid grey;
    width: 30%; 
    margin: 0px;
    margin-left: 35%;
}
input{
    width: 29%;
    margin-left: 35%;
    margin-top:50px;
}

table,h1,h2{
    width: 75%;
    margin: auto;
    text-align: center;
    padding: 5px;
    
}
table,tr,td{
    border: 1px solid black;
}

.allBooks{
    height: 350px;
    overflow-y: scroll; 
}